<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="易建采、易建采官网、易建采官方网站、询比采购、竞价采购、货物采购、工程采购、服务采购、劳务分包、专业分包、设备租赁、建筑咨询服务"/>
    <meta name="keywords" content="易建采、易建采官网、易建采官方网站、询比采购、竞价采购、货物采购、工程采购、服务采购、劳务分包、专业分包、设备租赁、建筑咨询服务"/>
    <meta name="author" content="易建采官网"/>
    <link rel="shortcut icon" type="image/x-icon" href="./static2/faviconlogo.ico">
    <title><%= title %></title>

    <!--引入样式文件-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <link href="./css/base.css" rel="stylesheet">
    <link href="./css/home.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!--顶部-->
<header class="top">
    <div class="content-box clearfix">
        <!--<div class="wx-code fr pointer" id="wxCode">
            <img src="./static/img/weixinbiding.png">
        </div>-->
        <!--<div class="sign-out fr pointer">
            <span>退出</span>
        </div>-->
        <div class="register fr pointer">
            <a href="<%= address %>/register">免费注册</a>
            <!--<a href="">个人中心</a>-->
        </div>
        <div class="login fr pointer">
            <a href="<%= address %>/login">您好，请登录</a>
            <!--<a href="">欢迎！<strong>吴见礼</strong></a>-->
        </div>
    </div>
</header>

<!--logo以及导航-->
<header class="header">
    <div class="content-box clearfix">
        <!--logo-->
        <div class="logo fl">
            <img src="./static2/img/logo.png" alt="易建采Logo">
        </div>
        <!--导航-->
        <nav class="nav fl">
            <ul class="clearfix">
                <li class="nav-active"><a href="./index.html">首页</a></li>
                <li><a href="<%= address %>/biddingAnnouncement">采购信息</a></li>
                <li><a href="<%= address %>/bidInfo">招标信息</a></li>
                <li><a href="<%= address %>/introduce/introduceDetail">公司简介</a></li>
            </ul>
        </nav>
        <!--搜索-->
        <div class="search fl">

        </div>
    </div>
</header>

<!--轮播图以及标签分类-->
<section class="banner">
    <div class="banner-top"></div>
    <!--轮播图-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="./static2/img/carousel1.png" alt="易建采轮播图片">
            </div>
            <div class="swiper-slide">
                <img src="./static2/img/carousel2.jpg" alt="易建采轮播图片">
            </div>
            <div class="swiper-slide">
                <img src="./static2/img/carousel3.jpg" alt="易建采轮播图片">
            </div>
        </div>
    </div>
    <!--标签分类-->
    <div class="classify">
        <div class="content-box">
            <ul class="classify-top clearfix">
                <li class="classify-top-title">招标分类</li>
                <li><%= '采购项目总数：' + accumulatedData.totalPurchaserProjectNums %></li>
                <li><%= '成交总额：￥' + (accumulatedData.totalDeals/100000000).toFixed(2) %>亿+</li>
                <li><%= '注册会员：' + accumulatedData.totalUsers %></li>
            </ul>
            <section class="classify-main clearfix">
                <ul class="tag-left fl">
                  <% treeArray.forEach(item => { %>
                    <li>
                        <ul>
                          <% item.children.forEach(item2 => { %>
                            <li class="tag-list-item">
                                <div class="tag-list-title clearfix">
                                    <span class="fl"><%= item2.text %></span>
                                    <span class="fr">></span>
                                    <div class="tag-list-bg"></div>
                                </div>
                                <div class="tag-right">
                                    <ul class="level-box-1">
                                      <% item2.children.forEach(item3 => { %>
                                        <li class="level-1 clearfix">
                                            <p class="level-title fl"><a
                                                href="<%= address %>/biddingAnnouncement?purchaseClass=<%= item.text == '货物采购' ? 1 : item.text == '工程项目' ? 2 : 3 %>&tagId=<%= item3.id %>"><%= item3.text %></a>
                                            </p>
                                            <ul class="level-box-2 fl clearfix">
                                              <% item3.children.forEach(item4 => { %>
                                                <li class="level-2"><a
                                                    href="<%= address %>/biddingAnnouncement?purchaseClass=<%= item.text == '货物采购' ? 1 : item.text == '工程项目' ? 2 : 3 %>&tagId=<%= item4.id %>"><%= item4.text %></a>
                                                </li>
                                              <% }) %>
                                            </ul>
                                        </li>
                                      <% }) %>
                                    </ul>
                                </div>
                            </li>
                          <% }) %>
                        </ul>
                    </li>
                  <% }) %>
                </ul>
            </section>
        </div>
    </div>
</section>

<!--项目列表-->
<section>
    <div class="content-box overflow">
        <!--四个格子-->
        <ul class="grid clearfix top-60">
            <li class="fl grid-item">
                <div class="grid-item-bg"></div>
                <a href="<%= address %>/bidInfo" class="grid-item-text">招标投标</a>
            </li>
            <li class="fl grid-item">
                <div class="grid-item-bg"></div>
                <a href="<%= address %>/supplierSearch" class="grid-item-text">一键询价</a>
            </li>
            <li class="fl grid-item">
                <div class="grid-item-bg"></div>
                <a href="<%= address %>/biddingAnnouncement?purchaseMode=cPurchaser" class="grid-item-text">竞价采购</a>
            </li>
            <li class="fl grid-item">
                <div class="grid-item-bg"></div>
                <a href="<%= address %>/biddingAnnouncement?purchaseMode=iInquiry"
                   class="grid-item-text">询比采购</a>
            </li>
        </ul>

        <!--非招标项目-->
        <section class="project top-60">
            <header class="project-type-box clearfix">
                <h2 class="project-type fl">非招标项目</h2>
                <span class="more fr"><a href="<%= address %>/biddingAnnouncement">更多>></a></span>
            </header>
            <ul class="project-list clearfix">
                <% privateList.forEach(item => { %>
                  <li class="project-list-item">
                   <div class="project-name clearfix">
                      <h3 class="over-ellipsis fl"><a
                          href="<%= address %>/biddingAnnouncementDetails?purchaseMode=<%= item.projectType %>&projectId=<%= item.projectId %>&purchasingInformationId=<%= item.projectTypeId %>&isEnd=<%= item.projectType == 'iInquiry' ? item.inquiryInfo.isEnd : item.projectType == 'cPurchaser' ? item.contentInfo.isEnd : item.projectType == 'epurchase' ? item.epurchaserInfo.isEnd : item.tenderInfo.isEnd %>"><%= item.projectName %></a>
                      </h3>
                        <i
                          class="fr text-icon-<%= item.projectType == 'iInquiry' ? 3 :item.projectType == 'cPurchaser' ? 2 : item.projectType == 'epurchase' ? 1 : 0 %>">
                        </i>
                    </div>
                    <div class="project-info clearfix">
                        <p class="fl">
                            <span class="label-color">采购单位：</span>
                            <span class="val-color"><%= item.companyName %></span>
                        </p>
                    </div>
                    <div class="project-info clearfix">
                        <p class="fl">
                            <span class="label-color">采购分类：</span>
                            <span class="val-color"><%= item.inquiryInfo.procurementClassification %></span>
                        </p>
                        <p class="fr">
                            <span class="label-color">截止报名：</span>
                            <span class="val-time"><%= item.inquiryInfo.signDate %></span>
                        </p>
                    </div>
                </li> 
                <% }) %>
            </ul>
        </section>

        <!--招标项目-->
        <section class="project top-60">
            <header class="project-type-box tender clearfix">
                <h2 class="project-type fl">招标项目</h2>
                <span class="more fr"><a href="<%= address %>/bidInfo">更多>></a></span>
            </header>
            <ul class="project-list clearfix">
              <% publicList.forEach(item => { %>
                <li class="project-list-item">
                    <div class="project-name clearfix">
                        <h3 class="over-ellipsis fl"><a
                            href="<%= address %>/biddingAnnouncementDetails?purchaseMode=bidTender&tenderBulletinCode=<%= item.tenderBulletinCode %>&bidType=<%= item.tenderMode %>&isEnd=<%= item.isEnd %>"><%= item.tenderProjectName %></a>
                        </h3>
                        <i class="text-icon-1 fr"></i>
                    </div>
                    <div class="project-info clearfix">
                        <p class="fl">
                            <span class="label-color">招标单位：</span>
                            <span class="val-color"><%= item.tendererName %></span>
                        </p>
                    </div>
                    <div class="project-info clearfix">
                        <p class="fl">
                            <span class="label-color">公告类型：</span>
                            <span class="val-color">招标公告</span>
                        </p>
                        <p class="fr">
                            <span class="label-color">截止报名：</span>
                            <span class="val-time"><%= item.bulletinEndTime %></span>
                        </p>
                    </div>
                </li>
               <% }) %>
            </ul>
        </section>
    </div>
</section>

<!--圆形数据-->
<section class="circle-wrap top-60">
    <div class="shadow"></div>
    <ul class="content-box circle-box clearfix">
        <li>
            <div class="circle"><%= accumulatedData.ratiosInfo.expertRatio %></div>
            <p class="circle-title">入驻专家</p>
        </li>
        <li>
            <div class="circle"><%= accumulatedData.totalPurchaserProjectNums %></div>
            <p class="circle-title">撮合项目</p>
        </li>
        <li>
            <div class="circle"><%= accumulatedData.totalUsers %></div>
            <p class="circle-title">注册会员</p>
        </li>
        <li>
            <div class="circle"><%= (accumulatedData.totalDeals/100000000).toFixed(2) + '亿' %></div>
            <p class="circle-title">交易金额</p>
        </li>
    </ul>
</section>

<!--公司展示以及友情链接-->
<section class="top-60">
    <div class="content-box">
        <!--公司展示-->
        <div class="clearfix company-box">
            <div class="company-left fl">
                <div class="clearfix company-big">
                    <div class="company-logo"><img src="./static2/img/company_01.png" alt=""></div>
                    <div class="company-name"><span>武汉建筑业协会</span></div>
                </div>
                <ul class="clearfix">
                    <li class="fl company clearfix">
                        <div class="company-logo"><img src="./static2/img/company_02.png" alt=""></div>
                        <div class="company-name"><span>山河集团</span></div>
                    </li>
                    <li class="fl company clearfix">
                        <div class="company-logo"><img src="./static2/img/company_03.png" alt=""></div>
                        <div class="company-name"><span>新七建设</span></div>
                    </li>
                    <li class="fl company clearfix">
                        <div class="company-logo"><img src="./static2/img/company_04.png" alt=""></div>
                        <div class="company-name"><span>新八建设</span></div>
                    </li>
                    <li class="fl company clearfix">
                        <div class="company-logo"><img src="./static2/img/company_05.png" alt=""></div>
                        <div class="company-name"><span>常发建设</span></div>
                    </li>
                    <li class="fl company clearfix">
                        <div class="company-logo"><img src="./static2/img/company_06.png" alt=""></div>
                        <div class="company-name"><span>信义兄弟</span></div>
                    </li>
                    <li class="fl company clearfix">
                        <div class="company-logo"><img src="./static2/img/company_07.png" alt=""></div>
                        <div class="company-name"><span>湖北中华文化产权交易所</span></div>
                    </li>
                </ul>
            </div>
            <ul class="company-right fl clearfix">
                <li class="fl company clearfix">
                    <div class="company-logo"><img src="./static2/img/company_08.png" alt=""></div>
                    <div class="company-name"><span>中国施工企业管理协会</span></div>
                </li>
                <li class="fl company clearfix">
                    <div class="company-logo"><img src="./static2/img/company_09.png" alt=""></div>
                    <div class="company-name"><span>中国对外承包工程商会</span></div>
                </li>
                <li class="fl company clearfix">
                    <div class="company-logo"><img src="./static2/img/company_10.png" alt=""></div>
                    <div class="company-name"><span>中建三局</span></div>
                </li>
                <li class="fl company clearfix">
                    <div class="company-logo"><img src="./static2/img/company_11.png" alt=""></div>
                    <div class="company-name"><span>武汉建工</span></div>
                </li>
                <li class="fl company clearfix">
                    <div class="company-logo"><img src="./static2/img/company_12.png" alt=""></div>
                    <div class="company-name"><span>中天集团</span></div>
                </li>
                <li class="fl company clearfix">
                    <div class="company-logo"><img src="./static2/img/company_13.png" alt=""></div>
                    <div class="company-name"><span>中铁大桥局</span></div>
                </li>
                <li class="fl company clearfix">
                    <div class="company-logo"><img src="./static2/img/company_14.png" alt=""></div>
                    <div class="company-name"><span>宝业集团</span></div>
                </li>
                <li class="fl company clearfix">
                    <div class="company-logo"><img src="./static2/img/company_15.png" alt=""></div>
                    <div class="company-name"><span>民族建设</span></div>
                </li>
                <li class="fl company clearfix">
                    <div class="company-logo"><img src="./static2/img/company_15.png" alt=""></div>
                    <div class="company-name"><span>平安银行</span></div>
                </li>
                <li class="fl company clearfix">
                    <div class="company-logo"><img src="./static2/img/company_17.png" alt=""></div>
                    <div class="company-name"><span>中国银行</span></div>
                </li>
            </ul>
        </div>

        <!--友情链接-->
        <div class="friend-link">
            <h3 class="title">友情链接</h3>
            <ul class="clearfix">
                <li class="link">
                    <a href="http://www.whjzyxh.org" target="_blank">武汉建筑业协会</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="http://www.saideqin.com" target="_blank">赛德勤工程咨询有限公司</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="http://www.wh-ccic.com.cn" target="_blank">武汉市工程建设标准定额管理站</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="http://www.hbzj.net" target="_blank">湖北省工程建设标准定额管理站</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="http://cjw.wuhan.gov.cn" target="_blank">武汉市城乡建设委员会</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="http://zjt.hubei.gov.cn" target="_blank">湖北省住房和城乡建设厅</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="http://www.jy.whzbtb.com" target="_blank">武汉市公共资源交易中心</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="http://www.hbggzy.cn" target="_blank">湖北省公共资源交易中心</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="http://www.ccgp.gov.cn" target="_blank">中国政府采购网</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="http://www.mohurd.gov.cn" target="_blank">中华人民共和国住房和城乡建设部</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="http://www.zgjzy.org" target="_blank">中国建筑业协会</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="http://www.chinca.org" target="_blank">中国对外承包工程商会</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="http://www.ctba.org.cn" target="_blank">中国施工企业管理协会</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="http://www.ctba.org.cn" target="_blank">中国招标投标协会</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="http://www.ndrc.gov.cn" target="_blank">中华人民共和国国家发展改革委员会</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="https://www.rics.org/zh/" target="_blank">英国皇家特许测量师学会</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="https://www.hkis.org.hk/en/index.html" target="_blank">香港测量师学会</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="http://fidic.org/" target="_blank">菲迪克组织</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="https://www.enr.com/" target="_blank">（美国）工程新闻记录</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="http://www.shihang.org/" target="_blank">世界银行</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="https://www.adb.org/zh" target="_blank">亚洲投资开发银行</a>
                    <span class="vertical-line"></span>
                </li>
                <li class="link">
                    <a href="https://www.aiib.org/en/index.html" target="_blank">亚洲基础设施投资银行</a>
                    <span class="vertical-line"></span>
                </li>
            </ul>
        </div>
    </div>
</section>

<!--底部信息-->
<footer>
    <div class="footer-top">
        <div class="content-box clearfix">
            <ul class="link-list fl">
                <li>新手帮助</li>
                <li><a href="<%= address %>/introduce/help?index=2">常见问题</a></li>
                <li><a href="javascript:;">文档下载</a></li>
                <li><a href="javascript:;">观看视频</a></li>
            </ul>
            <ul class="link-list fl">
                <li>关于我们</li>
                <li><a href="<%= address %>/introduce/introduceDetail">公司简介</a></li>
                <li><a href="<%= address %>/introduce/joinUs">加入我们</a></li>
                <li class="link-wx">
                    <a href="javascript:;">官方微信</a>
                    <div class="wx"><img src="./static2/img/wx_code.jpg" alt="易建采微信二维码图片"></div>
                </li>
            </ul>
            <div class="fl code">
                <div class="code-img">
                    <img src="./static2/img/down_app.png" alt="易建采app下载二维码图片">
                </div>
                <p>app下载</p>
            </div>
            <div class="fl code">
                <div class="code-img">
                    <img src="./static2/img/wx_code.jpg" alt="易建采微信二维码图片">
                </div>
                <p>官方微信</p>
            </div>
            <div class="tel fl">
                <p>027-68850801</p>
                <p>周一至周日：9:00 - 19:00</p>
            </div>
            <div class="vertical-line"></div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="content-box">
            <span>易建采科技（武汉）有限公司</span>
            <span>copy right @ 2017 epc1688.com</span>
            <span>|</span>
            <span class="agreement" id="agreement">平台协议</span>
            <span>|</span>
            <span class="privacy" id="privacy">隐私条款</span>
            <span>|</span>
        </div>
    </div>
</footer>

<!--易建采平台协议-->
<div class="dialog-shadow" id="agreementDialog">
    <div class="dialog">
        <span class="dialog-close">×</span>
        <div class="el-dialog-body">
            <div class="tex-content">
                <h1>易建采平台协议</h1>
                <div>
                    <h3>协议须知：</h3>
                    <p>本协议由您被您所注册的公司授权与易建采的经营者武汉易建采科技有限公司共同缔结，本协议具有合同效力（以下您和您所注册的公司均简称为“您”）。</p>
                    <p>本协议阐述之条款和条件（以下合称“条款”）适用于您使用易建采，易建采依据以下条款为您提供所享有的服务，请仔细阅读并遵守。</p>
                </div>
                <div>
                    <h3>一、条款的确认和接纳</h3>
                    <p>
                        1、本协议内容包括协议正文及所有易建采已经发布或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。除另行明确声明外，任何易建采提供的服务均受本协议约束。</p>
                    <p>
                        2、以任何方式进入易建采并使用服务，则将视为您对本协议全部条款的认知和接受。但无论您事实上是否在使用易建采服务之前认真阅读了本协议内容，只要您使用易建采服务，则本协议即对您产生约束，届时您不应以未阅读本协议的内容或者未获得易建采对您问询的解答等理由，主张本协议无效，或要求撤销本协议。</p>
                </div>
                <div>
                    <h3>二、条款的修改</h3>
                    <p>
                        易建采有权根据业务需要酌情修订条款，并以网站公告的形式在相关页面进行更新，不再单独通知您。经修订的条款一经公布，即产生效力。如您不同意相关修订，请您立即主动停止使用服务；如您继续使用服务，则将视为您已接受条款的变动。</p>
                </div>
                <div>
                    <h3>三、帐号、密码</h3>
                    <p>1、服务使用对象</p>
                    <p>
                        您确认，在您完成注册程序或以其他易建采允许的方式实际使用服务时，您应当是具备完全民事权利能力和与所从事的民事行为相适应的行为能力的自然人、法人或其他组织。若您不具备前述主体资格，请勿使用服务，否则您及您的监护人应承担因此而导致的一切后果，且易建采有权注销（永久冻结）您的账户，并向您及您的监护人索偿。如您代表一家公司或其他法律主体在易建采登记，则您声明和保证，您有义务使该公司或该法律主体受本协议条款的约束。</p>
                    <p>2、注册账户</p>
                    <p>
                        您在易建采首页注册的帐号、密码以及开标密钥等重要信息，应妥善保管。同时，在完成注册或认证流程时，您应当按照法律法规要求，按相应页面的提示准确提供并及时更新您的资料，以使之真实、及时，完整和准确。如有合理理由怀疑您提供的资料错误、不实、过时或不完整的，易建采有权向您发出询问或要求改正的通知，并有权直接做出删除相应资料的处理，直至终止对您提供部分或全部服务，易建采对此不承担任何责任，您将承担因此产生的任何直接或间接损失及不利后果。</p>
                </div>
                <div>
                    <h3>四、账户安全</h3>
                    <p>
                        您须自行负责对您的注册帐号、密码以及开标密钥等重要信息保密，且须对您在该登录账号和密码下发生的所有活动（包括但不限于信息披露、发布信息、网上点击同意或提交各类规则协议、网上续签协议或购买服务等）承担责任。您同意：</p>
                    <p>(a) 如发现任何人未经授权使用您的登录账号和密码，或发生违反保密规定的任何其他情况，您会立即通知易建采；</p>
                    <p>(b)
                        确保您在每个上网时段结束时，以正确步骤离开网站/服务。易建采不能也不会对因您未能遵守本款规定而发生的任何损失负责。您理解易建采对您的请求采取行动需要合理时间，易建采对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。</p>
                </div>
                <div>
                    <h3>五、服务风险制度</h3>
                    <p>
                        1、使用易建采服务的用户自行承担全部风险，易建采不对提供的服务作任何明示或暗示的保证，同时亦不对商业性的隐含担保，特定目的和不违反规定的适当担保作限制。包括但不限于：易建采不担保服务一定能满足用户的要求，不担保服务不会中断，及对服务的及时性、安全性、出错或文件丢失的发生，不承担任何赔偿责任。</p>
                    <p>
                        2、易建采不能亦不试图对其他用户通过“服务”提供的资料进行控制。就其本质而言，其他用户的资料，可能是有害的或不准确的，且在某些情况下可能带有错误的标识说明或以欺诈方式加上标识说明。易建采希望您在使用时，小心谨慎并运用合法交易常识。</p>
                    <p>
                        3、易建采只对采购商、供应商双方提供平台的信息桥梁服务，不会且不能牵涉进交易各方的交易当中。倘若您与一名或一名以上用户，或与您通过易建采获取其服务的第三者服务供应商发生争议，您免除易建采(及本网站代理人和雇员)
                        在因该等争议而引起的，或在任何方面与该等争议有关的不同种类和性质的任何 (实际和后果性的) 权利主张、要求和损害赔偿等方面的责任。</p>
                </div>
                <div>
                    <h3>六、关于费用</h3>
                    <p>
                        成为易建采会员用户，您可在易建采上发布交易信息、查询商品和服务信息、达成交易意向并进行交易、参加易建采组织的活动以及使用其它信息服务及技术服务，易建采将收取一定会籍费。另外，您因进行交易、向易建采获取有偿服务或接触易建采服务器而发生的所有应纳税赋，以及相关硬件、软件、通讯、网络服务及其他方面的费用均由您自行承担。易建采保留在无须发出书面通知，仅在网站公示的情况下，暂时或永久地更改或停止部分或全部服务的权利。</p>
                </div>
                <div class="level">
                    <h3>七、使用规则</h3>
                    <h4>易建采不对任何有关信息内容的真实性、适用性、合法性承担责任。您对服务的使用是根据所有适用于服务的地方法律、国家法律和国际法律标准的。</h4>
                    <h4>您同意并承诺：</h4>
                    <h4>1、在易建采上发布信息或者利用易建采的服务时必须符合中国有关法律、法规，不得在易建采上或者利用易建采的服务制作、复制、发布、传播以下信息：</h4>
                    <p>(a) 反对宪法所确定的基本原则的；</p>
                    <p>(b) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
                    <p>(c) 损害国家荣誉和利益的；</p>
                    <p>(d) 煽动民族仇恨、民族歧视、破坏民族团结的；</p>
                    <p>(e) 破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
                    <p>(f) 散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
                    <p>(g) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
                    <p>(h) 侮辱或者诽谤他人，侵害他人合法权益的；</p>
                    <p>(i) 含有法律、行政法规禁止的其他内容的。</p>
                    <h4>2、在利用易建采服务时还必须符合其他有关国家和地区的法律规定以及国际法的有关规定。</h4>
                    <h4>3、不利用易建采的服务从事以下活动：</h4>
                    <p>(a) 未经允许，进入计算机信息网络或者使用计算机信息网络资源的；</p>
                    <p>(b) 未经允许，对计算机信息网络功能进行删除、修改或者增加的；</p>
                    <p>(c) 未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；</p>
                    <p>(d) 不对易建采上的任何数据作商业性利用，包括但不限于在未经易建采事先书面同意的情况下，以复制、传播等任何方式使用易建采站上展示的资料。</p>
                    <p>(e) 故意制作、传播计算机病毒等破坏性程序的；</p>
                    <p>(f) 其他危害计算机信息网络安全的行为。</p>
                    <h4>4、不以任何方式干扰易建采的服务。</h4>
                    <h4>
                        5、遵守易建采的所有其他规定和程序。您需对自己在使用易建采服务过程中的行为承担法律责任。用户理解，如果易建采发现其消息内容明显属于上段第1条所列内容之一，依据中国法律，易建采有义务立即停止其服务，保存有关记录，向国家有关机关报告，并且删除含有该内容的消息。</h4>
                    <h4>
                        6、您使用易建采服务必须遵守国家有关法律和政策等，维护国家利益，保护国家安全，并遵守本协议，对于您违法或违反本协议的使用而引起的一切责任，由您负全部责任，一概与易建采无关，导致易建采损失的，易建采有权要求您赔偿，并有权立即停止提供服务，保留相关记录，保留配合司法机关追究法律责任的权利。</h4>
                    <h4>7、用户之间通过易建采与其他用户交易，因受误导或欺骗而导致或可能导致的任何心理、生理上的伤害以及经济上的损失，由过错方依法承担所有责任，一概与易建采无关。</h4>
                    <h4>
                        8、您成为易建采的供应商会员用户后，有权自愿申请加入易建采采购商的企业合格供方库，并向采购商提交所需的相关资料，采购商将自行审核准入条件，易建采无须为此向您、采购商或任何第三方承担任何责任。</h4>
                </div>
                <div>
                    <h3>八、通知</h3>
                    <p>
                        您应当准确填写并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便易建采或其他用户与您进行有效联系，因通过这些联系方式无法与您取得联系，导致您在使用易建采服务过程中产生任何损失或增加费用的，应由您完全独自承担。您了解并同意，您有义务保持你提供的联系方式的有效性，如有变更需要更新的，您应按易建采的要求进行操作。</p>

                </div>
                <div>
                    <h3>九、协议终止</h3>
                    <h4>
                        1、您同意，易建采有权自行全权决定以合理理由不经事先通知的中止、终止向您提供部分或全部易建采服务，暂时冻结或永久冻结（注销）您的账户在易建采的权限，且无须为此向您或任何第三方承担任何责任。</h4>
                    <h4>2、出现以下情况时，易建采有权直接以注销账户的方式终止本协议，并有权永久冻结（注销）您的账户在易建采的权限：</h4>
                    <p>(a) 易建采终止向您提供服务后，您涉嫌再一次直接或间接或以他人名义注册为易建采用户的；</p>
                    <p>(b) 您提供的电子邮箱不存在或无法接收电子邮件，且没有其他方式可以与您进行联系，或易建采以其它联系方式通知您更改电子邮件信息，而您在易建采通知后三个工作日内仍未更改为有效的电子邮箱的。</p>
                    <p>(c) 您提供的用户信息中的主要内容不真实或不准确或不及时或不完整；</p>
                    <p>(d) 本协议（含规则）变更时，您明示并通知易建采不愿接受新的服务协议的；</p>
                    <p>(e) 其它易建采认为应当终止服务的情况。</p>
                    <h4>3、您的账户服务被终止或者账户在易建采的权限被永久冻结（注销）后， 易建采没有义务为您保留或向您披露您账户中的任何信息，也没有义务向您或第三方转发任何您未曾阅读或发送过的信息。</h4>
                    <h4>4、您同意，您与易建采的合同关系终止后，易建采仍享有下列权利：</h4>
                    <p>(a) 继续保存您的用户信息及您使用易建采服务期间的所有交易信息。</p>
                    <p>(b) 您在使用易建采服务期间存在违法行为或违反本协议和/或规则的行为的，易建采仍可依据本协议向您主张权利。</p>
                </div>
                <div>
                    <h3>十、不可抗力。</h3>
                    <p>
                        对于因易建采合理控制范围以外的原因，包括但不限于自然灾害、罢工或骚乱、物质短缺或定量配给、暴动、战争行为、政府行为、通讯或其他设施故障或严重伤亡事故等，致使易建采延迟或未能履约的，易建采不对您承担任何责任。</p>

                </div>
                <div>
                    <h3>十一、法律适用、管辖及其他</h3>
                    <p>1、本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国大陆地区法律，如无相关法律规定的，则应参照通用国际商业惯例和（或）行业惯例。</p>
                    <p>2、您与易建采仅为独立订约人关系。本协议无意结成或创设任何代理、合伙、合营、雇佣与被雇佣或特性授权与被授权关系。</p>
                    <p>3、您同意易建采因经营业务需要有权将本协议项下的权力义务就部分或全部进行转让，而无须再通知予您并取得您的同意。</p>
                    <p>4、因本协议或易建采服务所引起或与其有关的任何争议应向易建采所在地人民法院提起诉讼。</p>
                    <p>
                        5、本协议取代您和易建采先前就相同事项订立的任何书面或口头协议。倘若本协议任何条款被裁定为无效或不可强制执行，该项条款应被撤销，而其余条款应予遵守和执行。条款标题仅为方便参阅而设，并不以任何方式界定、限制、解释或描述该条款的范围或限度。</p>
                    <p>6、易建采未就您或其他人士的某项违约行为采取行动，并不表明易建采撤回就任何继后或类似的违约事件采取行动的权利。</p>
                    <p>7、未经允许，抄袭、模仿和传播易建采站提供的产品、服务和功能，一经发现，易建采有权要求您赔偿，并有权立即停止提供服务。</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--隐私政策-->
<div class="dialog-shadow" id="privacyDialog">
    <div class="dialog">
        <span class="dialog-close">×</span>
        <div class="el-dialog-body">
            <div class="tex-content">
                <h1>隐私政策</h1>
                <div>
                    <p>
                        易建采科技（武汉）有限公司（以下统称“易建采”或“我们”）庄严承诺保护使用易建采的产品和服务（以下统称“易建采服务”）之用户（以下统称“用户”或“您”）的隐私。您在使用易建采服务时，我们可能会收集和使用您的相关信息。</p>
                    <p>
                        本《隐私政策》适用于我们提供的所有易建采服务。当您使用我们任何单项服务时，您同意接受本《隐私政策》以及我们在该单项服务中发出的特定隐私信息类政策条款（下列称“特定条款”）的保护，在此情况下特定条款与本《隐私政策》条款同时对您产生效力。在使用各项服务前，请您务必仔细阅读并透彻理解本《隐私政策》。请注意我们会不时地检查并更新我们的条款，因此有关的措施会随之变化。我们恳请您定期光顾本页面，以确保对我们《隐私政策》最新版本始终保持了解。在阅读完本《隐私政策》之后，如您对本《隐私政策》或与本《隐私政策》相关的事宜有任何问题，请与027-68850801联系。</p>
                    <p>您使用或继续使用易建采服务，都表示您同意我们按照本《隐私政策》收集、使用、储存和分享您的信息。</p>
                </div>
                <div>
                    <h3>一、我们如何收集和使用信息</h3>
                    <p>
                        我们收集您的信息主要是为了您和其他用户能够更容易和更满意地使用易建采服务。易建采的目标是向所有的互联网用户提供安全、公正的服务。而这些信息有助于我们实现这一目标。我们将通过以下途径收集和获得您的信息：</p>
                    <p>
                        1、您在注册易建采服务的帐号或使用易建采服务时，向我们提供的信息，请注意，如您在易建采服务中其他用户可见的公开区域内上传或发布的信息中、您对其他人上传或发布的信息作出的回应中公开您的信息，该等信息可能会被他人收集并加以使用。当您发现他人不正当地收集或使用您的信息时，请联系027-68850801。</p>
                    <p>2、我们获取的您的信息。您在使用易建采服务时，我们收集、汇总、记录的信息，例如日志信息、设备信息。</p>
                </div>
                <div>
                    <p>我们会出于以下目的，收集和使用您以下类型的信息：</p>
                    <p>
                        1、帮助您完成注册及登录，为便于我们为您提供服务，您需要提供基本注册或登录信息，包括手机号码、企业名称、法定代表人授权书、企业资质等文件，并创建您的账号、用户名和密码。在部分单项服务中，如果您仅需使用浏览、搜索等基本服务，您不需要注册成为易建采用户及提供上述信息。</p>
                    <p>
                        2、在您参与的交易行为中，例如您参与报名其他公司的公开项目，该项目要求在资格审查阶段查看您的相关信息，我们会向一方展示您的相关信息作为交易行为的必要条件。除此之外我们还会在您主动参与的行为以外的地方使用您的信息，例如在部分用户对您进行收藏等。</p>
                    <p>3、向您提供商品或服务，我们所收集和使用的信息是为您提供易建采服务的必要条件，如缺少相关信息，我们将无法为您提供易建采服务的核心内容。</p>
                    <p>
                        4、向您推送消息，为您展示和推送商品或服务。我们可能使用您的信息（例如您的浏览及搜索记录、设备信息、位置信息），用于提取您的浏览、搜索偏好、行为习惯、位置信息相关特征，并基于特征标签通过电子邮件、短信或其他方式向您发送营销信息，提供或推广我们或第三方的服务。</p>
                    <p>
                        5、其他用途，请您注意，如果我们要将您的信息用于本《隐私政策》中未载明的其他用途或额外收集未提及的其他信息，我们会另行事先请您同意。一旦您同意，该等额外用途将视为本《隐私政策》的一部分，该等额外信息也将适用本《隐私政策》。</p>
                    <p>
                        6、征得授权同意的例外，根据相关法律法规规定，以下情形中收集您的信息无需征得您的授权同意：
                    </p>
                    <p>（1）与国家安全、国防安全有关的；</p>
                    <p>（2）与公共安全、公共卫生、重大公共利益有关的；</p>
                    <p>（3）与犯罪侦查、起诉、审判和判决执行等有关的；</p>
                    <p>（4）出于维护信息主体或其他个人的生命、财产等重大合法权益但又很难得到您本人同意的；</p>
                    <p>（5）所收集的信息是您自行向社会公众公开的；</p>
                    <p>（6）从合法公开披露的信息中收集信息的，如合法的新闻报道、政府信息公开等渠道；</p>
                    <p>（7）根据您的要求签订合同所必需的；</p>
                    <p>（8）用于维护易建采服务的安全稳定运行所必需的，例如发现、处置产品或服务的故障；</p>
                    <p>（9）法律法规规定的其他情形。</p>
                </div>
                <div>
                    <h3>二、我们如何使用COOKIES或同类技术</h3>
                    <p>我们或我们的第三方合作伙伴可能通过COOKIES或同类技术获取和使用您的信息，并将该等信息储存为日志信息。</p>
                    <p>
                        通过使用COOKIES，我们向用户提供简单易行并富个性化的网络体验。一个COOKIES是少量的数据，它们从一个网络服务器送至您的浏览器并存在计算机硬盘上。我们使用COOKIES是为了让其用户可以受益。比如，为使得易建采虚拟社区的登录过程更快捷，您可以选择把用户名存在一个COOKIES中。这样下次当您要登录易建采的服务时能更加方便快捷。COOKIES能帮助我们确定您连接的页面和内容，您在易建采特定服务上花费的时间和您所选择的易建采服务。</p>
                    <p>
                        COOKIES使得我们能更好、更快地为您服务，并且使您在易建采服务上的经历更富个性化。然而，您应该能够控制COOKIES是否以及怎样被你的浏览器接受。请查阅您的浏览器附带的文件以获得更多这方面的信息。我们使用自己的COOKIES或同类技术，可能用于以下用途：</p>
                    <p>（1）记住您的身份。例如：COOKIES或同类技术有助于我们辨认您作为我们的注册用户的身份，或保存您向我们提供有关您的喜好或其他信息；</p>
                    <p>（2）分析您使用我们服务的情况。我们可利用COOKIES或同类技术来了解您使用易建采服务进行什么活动、或哪些服务或服务最受欢迎；
                        您可以通过浏览器或用户选择机制拒绝或管理COOKIES或或同类技术。但请您注意，如果您停用COOKIES或同类技术，我们有可能无法为您提供最佳的服务体验，某些服务也可能无法正常使用。</p>
                </div>
                <div>
                    <h3>三、如何管理您的信息</h3>
                    <p>
                        我们鼓励您更新和修改您的信息以使其更准确有效。您能通过易建采服务访问您的信息，并根据对应信息的管理方式自行完成或要求我们进行修改、补充和删除。我们将采取适当的技术手段或提供提交申请的联系渠道，尽可能保证您可以访问、更新和更正自己的信息或使用易建采服务时提供的其他信息。</p>
                    <p>
                        在访问、更新、更正和删除前述信息时，我们可能会要求您进行身份验证，以保障信息安全。对于通过COOKIES或同类技术收集的您的信息，我们还在本《隐私政策》第二条“我们如何使用COOKIES或同类技术”部分说明了向您提供的选择机制。</p>
                </div>
                <div>
                    <h3>四、年龄限制</h3>
                    <p>
                        我们建议：任何未成年人参加网上活动应事先取得家长或其法定监护人（以下简称"监护人"）的同意。我们将根据国家相关法律法规的规定保护未成年人的相关信息。我们鼓励父母或监护人指导未成年人使用易建采服务。我们建议未成年人鼓励他们的父母或监护人阅读本《隐私政策》，并建议未成年人在提交信息之前寻求父母或监护人的同意和指导。</p>
                </div>
                <div>
                    <h3>五、通知和修订</h3>
                    <p>
                        我们可能适时修改本《隐私政策》的条款，该等修改构成本《隐私政策》的一部分。对于重大变更，我们会提供更显著的通知，您如果不同意该等变更，可以选择停止使用易建采服务；如您仍然继续使用易建采服务的，即表示同意受经修订的本《隐私政策》的约束。</p>
                    <p>任何修改都会将您的满意度置于首位。我们鼓励您在每次使用易建采服务时都查阅我们的隐私政策。</p>
                    <p>我们可能在必需时（例如当我们由于系统维护而暂停某一项服务时）发出与服务有关的公告。您可能无法取消这些与服务有关、性质不属于推广的公告。</p>
                    <p>最后，您必须对您的账号和密码信息负有保密义务。任何情况下，请小心妥善保管。</p>
                </div>
                <div>
                    <h3>六、如何联系我们</h3>
                    <p>
                        如您有关于网络信息安全的投诉和举报，或您对本《隐私政策》、您的信息的相关事宜有任何问题、意见或建议，以及有关本《隐私政策》或易建采的隐私措施的问题请与易建采的协调人联系。电话是027-68850801。</p>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
<script src="./js/home.js"></script>
</body>
</html>
